
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    height: 100vh;
   
    background-image: url(fundo.jpg); 
    /* background-color: black; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.language {
    
    align-items: flex-end; 
    max-width: 150px;
    left: 0;
    border: 1px solid red; 
     margin:auto;  
    font-weight: bold;
    padding-top: 10px;
    /* border: 1px solid blue; 
} 
*/

.language-selected {
    
    display: flex;
    align-items: center; 
    color: #fff;
    cursor: pointer;
}

.container {
    border: 1px solid green;
}


.language-selected::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
  
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url(https://www.worldometers.info/img/flags/br-flag.gif);
}



.language ul {
    /* position: absolute;  */
    width: 140px; 
    right: 0;
    padding-top: 10px;
    border: 1px solid red;
    /* background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    display: none; 
 
}



.language ul > li {
    list-style: none;
}

.language ul > li > a {
    /* display: flex;
    color: #252525; */
    padding-top: 10px 10px
}

/* .language ul > li:hover {
    background-color: #f8f8f8;
} */

.language ul > li > a::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    
}

.idioma {
    
    align-items: flex-end;
    width: 140px;
    /* height: 50px; */
    /* border: 1px solid yellowgreen; */
    /* background-color: #fff; */
    /* padding: 10px; */
    
}

.idioma li {
    display: inline;
}



a.pt::before {
    background-image: url(https://www.worldometers.info/img/flags/br-flag.gif);
    width: 50px;
    height: 50px;
}

a.it::before {
    background-image: url(https://www.worldometers.info/img/flags/it-flag.gif);
}

a.en::before {
    background-image: url(https://www.worldometers.info/img/flags/us-flag.gif);
}

.language:hover ul {
    display: block;
}

/* Jquery class */
.language-selected.change-pt::before {
    background-image: url(https://www.worldometers.info/img/flags/br-flag.gif);
}

.language-selected.change-it::before {
    background-image: url(https://www.worldometers.info/img/flags/it-flag.gif);
}

.language-selected.change-en::before {
    background-image: url(https://www.worldometers.info/img/flags/us-flag.gif);
}

.language-selected {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.first-content {
    margin-top: 50px;
    height: 160px;
    justify-content: space-between;
    display: flex;
    border: 1px solid red;
}

.second-content {
    border: 1px solid red;
    height: 350px;
    margin-top: 50px;
}

.skills {
    display: flex;
    justify-content: space-around;
    border: 1px solid yellow;
}

.titulo2 {
    color: #CC3232; 
    text-align: center;
    border: 1px solid blue;
    font-weight: 500;
    font-family: "Poppis";
    font-size: 40px;
}

.sobre {
    border: 1px solid yellow;
    margin-right: 150px;
    width: 600px;
    height: 150px;
}

.rodape {
    
    margin-top: 180px;
    display: flex;
    
    
    
}

span {
    text-align: center;
    margin: auto;
    color: #CC3232;
    font-size: 18px;
    font-family: "Poppis";
   
}

.social_links {
    justify-content: space-between;
    border: 1px solid black;
    display: flex;
    margin-top: 40px;
}

.profile-image {
    margin-left: 180px;
    border-radius: 50%;
 
    
}

 .profile-image > img {
    border-radius: 50%;
    border: 2px solid black;
   
} 


