
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


body {
    height: 100vh;
    /* background-image: url(fundo.jpg);  */
    /* background-color: black; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.language {
    
    /* border: 1px solid black; */
    width: 140px;
    /* margin: auto; */
    float: right;
}

.teste {
   
    height: 50px;
    background-color: #161616;
}



.language-selected {
    display: flex;
    align-items: center; 
    color: #fff;
    cursor: pointer;
}

.container {
    border: 1px solid green;
    
}

.language-selected::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url(https://www.worldometers.info/img/flags/br-flag.gif);
}

.language ul {
    left: 0;
    padding: 10px;
}



.language ul > li {
    list-style: none;
}





.language ul > li > a::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    
}

.idioma {
    
    justify-content: flex-end;
    width: 140px;
    
    
}

.idioma li {
    display: inline;
}



a.pt::before {
    background-image: url(https://www.worldometers.info/img/flags/br-flag.gif);
    width: 50px;
    height: 50px;
}

a.it::before {
    background-image: url(https://www.worldometers.info/img/flags/it-flag.gif);
}

a.en::before {
    background-image: url(https://www.worldometers.info/img/flags/us-flag.gif);
}

.language:hover ul {
    display: block;
}

/* Jquery class */
.language-selected.change-pt::before {
    background-image: url(https://www.worldometers.info/img/flags/br-flag.gif);
}

.language-selected.change-it::before {
    background-image: url(https://www.worldometers.info/img/flags/it-flag.gif);
}

.language-selected.change-en::before {
    background-image: url(https://www.worldometers.info/img/flags/us-flag.gif);
}

.language-selected {
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.first-content {
    /* margin-top: 50px; */
    height: 160px;
    justify-content: space-between;
    display: flex;
    /* border: 1px solid red; */
    background: #222222
}

.second-content {
     border: 1px solid red; 
    height: 400px;
    margin-top: 50px;
}

.paragrafo1 {
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
    /* border: 1px solid red; */
}

.div_button {
    /* border: 1px solid red; */
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.button {
   
    width: 120px;
    height: 50px;
    /* position: absolute; */
    background-color: transparent;
    border: 1px solid #CC3232;
    border-radius: 4px;
    color: #CC3232;
    font-size: 14px;
    cursor: pointer;
 
}

.skills {
    display: flex;
    justify-content: space-around;
    border: 1px solid yellow;
}

.titulo2 {
    color: #CC3232; 
    text-align: center;
    border: 1px solid blue;
    font-weight: 500;
    font-family: "Poppis";
    font-size: 40px;
}

.titulo1 {
    text-align: center;
}

.sobre {
    /* border: 1px solid yellow; */
    margin: auto;
    width: 600px;
    height: 150px;
    color: #fff;
    
}

.rodape {
    border: 1px solid purple;
    margin-top: 170px;
    text-align: center;
    color: #CC3232;
    font-size: 18px;
    font-family: "Poppis";
}

.social_links {
    justify-content: space-between;
    border: 1px solid black;
    display: flex;
    margin-top: 40px;
}

/* .profile-image {
    margin-left: 180px;
    border-radius: 50%;
 
    
} */

 /* .profile-image > img {
    border-radius: 50%;
    border: 2px solid black;
   
}  */


