
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 1px solid red;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
}

select {
    border: 1px solid green;
    align-items: center;
    margin-left: 45%;
}